{# purpose of this template: module configuration page #}
{% extends 'ZikulaMultisitesModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikulamultisitesmodule-config">
        {% form_theme form with [
            '@ZikulaMultisitesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('General') %}
        <li class="active" data-toggle="pill"><a href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a></li>
        {% set tabTitle = __('Security settings') %}
        <li data-toggle="pill"><a href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a></li>
        {% set tabTitle = __('Listviews') %}
        <li data-toggle="pill"><a href="#tab3" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a></li>
        {% set tabTitle = __('Images') %}
        <li data-toggle="pill"><a href="#tab4" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a></li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            {% set tabTitle = __('General') %}
            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can define general settings.')|nl2br }}</p>
                
                    {{ form_row(form.tempAccessFileContent) }}
                </fieldset>
            </div>
            {% set tabTitle = __('Security settings') %}
            <div role="tabpanel" class="tab-pane fade" id="tab2">
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can define security-related settings.')|nl2br }}</p>
                
                    {{ form_row(form.globalAdminName) }}
                    {{ form_row(form.globalAdminPassword) }}
                    {{ form_row(form.globalAdminEmail) }}
                </fieldset>
            </div>
            {% set tabTitle = __('Listviews') %}
            <div role="tabpanel" class="tab-pane fade" id="tab3">
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.siteEntriesPerPage) }}
                    {{ form_row(form.templateEntriesPerPage) }}
                    {{ form_row(form.siteExtensionEntriesPerPage) }}
                    {{ form_row(form.projectEntriesPerPage) }}
                </fieldset>
            </div>
            {% set tabTitle = __('Images') %}
            <div role="tabpanel" class="tab-pane fade" id="tab4">
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can define several options for image handling.')|nl2br }}</p>
                
                    {{ form_row(form.enableShrinkingForSiteLogo) }}
                    <div id="shrinkDetailsSiteLogo">
                    {{ form_row(form.shrinkWidthSiteLogo) }}
                    {{ form_row(form.shrinkHeightSiteLogo) }}
                    </div>
                    {{ form_row(form.enableShrinkingForSiteFavIcon) }}
                    <div id="shrinkDetailsSiteFavIcon">
                    {{ form_row(form.shrinkWidthSiteFavIcon) }}
                    {{ form_row(form.shrinkHeightSiteFavIcon) }}
                    </div>
                    {{ form_row(form.thumbnailModeSite) }}
                    {{ form_row(form.thumbnailWidthSiteLogoView) }}
                    {{ form_row(form.thumbnailHeightSiteLogoView) }}
                    {{ form_row(form.thumbnailWidthSiteLogoEdit) }}
                    {{ form_row(form.thumbnailHeightSiteLogoEdit) }}
                    {{ form_row(form.thumbnailWidthSiteFavIconView) }}
                    {{ form_row(form.thumbnailHeightSiteFavIconView) }}
                    {{ form_row(form.thumbnailWidthSiteFavIconEdit) }}
                    {{ form_row(form.thumbnailHeightSiteFavIconEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            function multisitesToggleShrinkSettings(fieldName) {
                var idSuffix = fieldName.replace('zikulamultisitesmodule_appsettings_', '');
                $('#shrinkDetails' + idSuffix).toggleClass('hidden', !$('#zikulamultisitesmodule_appsettings_enableShrinkingFor' + idSuffix).prop('checked'));
            }

            $(document).ready(function() {
                $('.shrink-enabler').each(function (index) {
                    $(this).bind('click keyup', function (event) {
                        multisitesToggleShrinkSettings($(this).attr('id').replace('enableShrinkingFor', ''));
                    });
                    multisitesToggleShrinkSettings($(this).attr('id').replace('enableShrinkingFor', ''));
                });
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
