{# purpose of this template: apply some general form extensions #}
{% extends 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}

{% block zikulamultisitesmodule_field_upload_label %}{% endblock %}
{% block zikulamultisitesmodule_field_upload_row %}
    {% spaceless %}
    {{ form_row(attribute(form, fieldName)) }}
    <div class="col-sm-9 col-sm-offset-3">
        {% if not required %}
            <span class="help-block"><a id="{{ id }}_{{ fieldName }}ResetVal" href="javascript:void(0);" class="hidden">{{ __('Reset to empty value') }}</a></span>
        {% endif %}
        <span class="help-block">{{ __('Allowed file extensions') }}: <span id="{{ id }}_{{ fieldName }}FileExtensions">{{ allowed_extensions|default('') }}</span></span>
        {% if allowed_size|default is not null and allowed_size > 0 %}
            <span class="help-block">{{ __('Allowed file size') }}: {{ allowed_size|zikulamultisitesmodule_fileSize('', false, false) }}</span>
        {% endif %}
        {% if file_path|default %}
            <span class="help-block">
                {{ __('Current file') }}:
                <a href="{{ file_url }}" title="{{ __('Open file') }}"{% if file_meta.isImage %} class="lightbox"{% endif %}>
                {% if file_meta.isImage %}
                    <img src="{{ file_path|imagine_filter('zkroot', thumbRuntimeOptions) }}" alt="{{ formattedEntityTitle|e('html_attr') }}" width="{{ thumbRuntimeOptions.thumbnail.size[0] }}" height="{{ thumbRuntimeOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                {% else %}
                    {{ __('Download') }} ({{ file_meta.size|zikulamultisitesmodule_fileSize(file_path, false, false) }})
                {% endif %}
                </a>
            </span>
            {% if not required %}
                {{ form_row(attribute(form, fieldName ~ 'DeleteFile')) }}
            {% endif %}
        {% endif %}
    </div>
    {% endspaceless %}
{% endblock %}
