{# purpose of this template: apply some general form extensions #}
{% extends 'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig' %}

{% block zikulamultisitesmodule_field_upload_widget %}
    {% spaceless %}

    {{ block('file_widget') }}
    {% if not required %}
        <span class="help-block"><a id="reset{{ id|capitalize }}Val" href="javascript:void(0);" class="hidden">{{ __('Reset to empty value') }}</a></span>
    {% endif %}
    <span class="help-block">{{ __('Allowed file extensions') }}: <span id="{{ id }}FileExtensions">{{ allowed_extensions|default('') }}</span></span>
    {% if allowed_size|default is not null and allowed_size > 0 %}
        <span class="help-block">{{ __('Allowed file size') }}: {{ allowed_size|zikulamultisitesmodule_fileSize('', false, false) }}</span>
    {% endif %}
    {% if file_path|default %}
        <span class="help-block">
            {{ __('Current file') }}:
            <a href="{{ file_url }}" title="{{ __('Open file') }}"{% if file_meta.isImage %} class="lightbox"{% endif %}>
            {% if file_meta.isImage %}
                {{ zikulamultisitesmodule_thumb({ image: file_path, objectid: object_type ~ object_id, preset: object_type ~ 'ThumbPreset' ~ id|capitalize, tag: true, img_alt: formattedEntityTitle, img_class: 'img-thumbnail' }) }}
            {% else %}
                {{ __('Download') }} ({{ file_meta.size|zikulamultisitesmodule_fileSize(file_path, false, false) }})
            {% endif %}
            </a>
        </span>
        {% if not required %}
            {{ form_row(attribute(form, id ~ 'DeleteFile')) }}
        {% endif %}
    {% endif %}

    {% endspaceless %}
{% endblock %}
