<span style="padding-right: 10px; margin-right: 10px; border-right: 2px solid #999999">
    <a href="javascript:multisitesAllowTheme('{{ name }}', {{ site.id }})" title="{{ __('Toggle theme state') }}">
        {% if available == true and siteThemes[name].state != 6 %}
            <i class="fa fa-check" title="{{ __('Allowed') }}"></i>
        {% elseif available == true and siteThemes[name].state == 6 %}
            <i class="fa fa-times" title="{{ __('Not allowed') }}"></i>
        {% elseif available != true %}
            <i class="fa fa-database" title="{{ __('Add theme') }}"></i>
        {% endif %}
    </a>
</span>
{% if isDefaultTheme == 1 and available == true %}
    <i class="fa fa-circle" style="color: green" title="{{ __('Default theme') }}"></i>
{% elseif isDefaultTheme != 1 and available == true %}
    <a href="{{ path('zikulamultisitesmodule_site_setthemeasdefault', {id: site.id, name: name}) }}" title="{{ __('Set as default theme') }}"><i class="fa fa-circle" style="color: red" title="{{ __('Not default theme') }}"></i></a>
{% else %}
    <img src="{{ zasset('@ZikulaMultisitesModule:images/blank.png') }}" width="16" height="16" alt="blank" title="{{ __('Not available') }}" />
{% endif %}
