{# purpose of this template: build the form to edit an instance of project #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'ZikulaMultisitesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultisitesModule:js/ZikulaMultisitesModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultisitesModule:js/ZikulaMultisitesModule.EditFunctions.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create project') : __('Edit project') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="zikulamultisitesmodule-project zikulamultisitesmodule-edit">
        {% form_theme form with [
            '@ZikulaMultisitesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'projectEditForm', class: 'zikulamultisites-edit-form'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.name) }}
        </fieldset>

        {% if mode != 'create' %}
            {{ include('@ZikulaMultisitesModule/Helper/includeStandardFieldsEdit.html.twig', {obj: project}) }}
        {% endif %}

        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}

        {# include return control #}
        {% if mode == 'create' %}
            <fieldset>
                <legend>{{ __('Return control') }}</legend>
                {{ form_row(form.repeatCreation) }}
            </fieldset>
        {% endif %}

        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? project.id : null %}
        {{ notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.projects.form_edit', id=hookId) }}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set removeImage = '<span class="fa fa-trash-o"></span>' %}
    {% set formInitScript %}
        <script type="text/javascript">
        /* <![CDATA[ */
            
            ( function($) {
                $(document).ready(function() {
                    // initialise auto completion for user fields
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('zikulamultisitesmodule_project_moderationSpecificCreator');
                    {% endif %}
                    zikulaMultisitesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ project.id }}{% endif %}');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
