{# purpose of this template: projects list view #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title own ? __('My projects') : __('Projects list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="zikulamultisitesmodule-project zikulamultisitesmodule-view">

    <p class="alert alert-info">{{ __('Projects serve for grouping sites by clients or topics.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@ZikulaMultisitesModule/Project/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('zikulamultisitesmodule_project_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="projectsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {# % if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif % #}
                <col id="cItemActions" />
                <col id="cName" />
                <col id="cTemplates" />
                <col id="cSites" />
            </colgroup>
            <thead>
            <tr>
                {# % if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="zikulamultisites-mass-toggle" />
                    </th>
                {% endif % #}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hTemplates" scope="col" class="text-left unsorted">
                    {{ __('Templates') }}
                </th>
                <th id="hSites" scope="col" class="text-left unsorted">
                    {{ __('Sites') }}
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for project in items %}
            <tr>
                {# % if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ project.getKey() }}" class="zikulamultisites-toggle-checkbox" />
                    </td>
                {% endif % #}
                <td id="itemActions{{ project.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('ZikulaMultisitesModule:ItemActionsMenu:menu', [], {entity: project, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ project.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    {{ project.name|notifyFilters('zikulamultisitesmodule.filterhook.projects')|safeHtml }}
                </td>
                <td headers="hTemplates" class="text-left">
                    {% if project.templates is iterable and project.templates|length > 0 %}
                        <ul>
                        {% for template in project.templates %}
                            <li>{{ template|zikulamultisitesmodule_formattedTitle }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ __('None') }}
                    {% endif %}
                </td>
                <td headers="hSites" class="text-left">
                    <a href="{{ path('zikulamultisitesmodule_site_view', {project: project.getKey()}) }}" title="{{ __('View sites assigned to this project') }}">{{ __('Site list') }}</a>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}4{% else %}4{% endif %}">
            {{ __('No projects found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulamultisitesmodule_project_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
{#            <fieldset>
                <label for="zikulaMultisitesModuleAction" class="col-sm-3 control-label">{{ __('With selected projects') }}</label>
                <div class="col-sm-6">
                    <select id="zikulaMultisitesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>#}
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('ZikulaMultisitesModule:Project:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create project') %}
                <a href="{{ path('zikulamultisitesmodule_project_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('zikulamultisitesmodule_project_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('zikulamultisitesmodule_project_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {{ notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.projects.display_view', urlObject=currentUrlObject) }}
    {% endif % #}
{% endblock %}
