{# purpose of this template: build the form to edit an instance of site #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'ZikulaMultisitesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block title mode == 'create' ? __('Create site') : __('Edit site') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="zikulamultisitesmodule-site zikulamultisitesmodule-edit">
        {% form_theme form with [
            '@ZikulaMultisitesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'siteEditForm', class: 'zikulamultisites-edit-form'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.siteAlias) }}
            {{ form_row(form.siteName) }}
            {{ form_row(form.siteDescription) }}
            {{ form_row(form.siteAdminName) }}
            {{ form_row(form.siteAdminPassword) }}
            {{ form_row(form.siteAdminRealName) }}
            {{ form_row(form.siteAdminEmail) }}
            {{ form_row(form.siteCompany) }}
            {{ form_row(form.siteDns) }}
            {{ form_row(form.databaseName) }}
            {{ form_row(form.databaseUserName) }}
            {{ form_row(form.databasePassword) }}
            {{ form_row(form.databaseHost) }}
            {{ form_row(form.databaseType) }}
            {{ form_row(form.logo) }}
            {{ form_row(form.favIcon) }}
            {{ form_row(form.allowedLocales) }}
            {{ form_row(form.parametersCsvFile) }}
            {{ form_row(form.parametersArray) }}
            {{ form_row(form.active) }}
        </fieldset>
        
        {{ include(
            '@ZikulaMultisitesModule/Template/includeSelectOne.html.twig',
            {group: 'site', heading: __('Template'), alias: 'template', mandatory: false, idPrefix: 'multisitesSite_Template', linkingItem: site, displayMode: 'choices'}
        ) }}
        {{ include(
            '@ZikulaMultisitesModule/Project/includeSelectOne.html.twig',
            {group: 'site', heading: __('Project'), alias: 'project', mandatory: false, idPrefix: 'multisitesSite_Project', linkingItem: site, displayMode: 'choices'}
        ) }}
        {% if mode != 'create' %}
            {{ include('@ZikulaMultisitesModule/Helper/includeStandardFieldsEdit.html.twig', {obj: site}) }}
        {% endif %}
        
        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}
        
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                    {% if mode == 'create' and action.id == 'submit' and form.submitrepeat is defined %}
                        {{ form_widget(attribute(form, 'submitrepeat')) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? site.id : null %}
        {% set hooks = notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.sites.form_edit', id=hookId, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultisitesModule:js/ZikulaMultisitesModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaMultisitesModule:js/ZikulaMultisitesModule.EditFunctions.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            var zikulaMultisitesInlineEditHandlers = [];
            var zikulaMultisitesEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    zikulaMultisitesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ site.id }}{% endif %}');
                    zikulaMultisitesInitUploadField('zikulamultisitesmodule_site_logo_logo');
                    zikulaMultisitesInitUploadField('zikulamultisitesmodule_site_favIcon_favIcon');
                    zikulaMultisitesInitUploadField('zikulamultisitesmodule_site_parametersCsvFile_parametersCsvFile');
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('zikulamultisitesmodule_site_moderationSpecificCreator');
                    {% endif %}
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
