{# purpose of this template: sites list view #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title own ? __('My sites') : __('Sites list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="zikulamultisitesmodule-site zikulamultisitesmodule-view">

    <p class="alert alert-info">{{ __('Each site is assigned to a project and instance of a certain site template.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@ZikulaMultisitesModule/Site/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="sitesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActionsStart" />
                <col id="cName" />
                <col id="cDescription" />
                <col id="cSiteAlias" />
                <col id="cSiteName" />
                <col id="cSiteDescription" />
                <col id="cSiteAdminName" />
                <col id="cSiteAdminPassword" />
                <col id="cSiteAdminRealName" />
                <col id="cSiteAdminEmail" />
                <col id="cSiteCompany" />
                <col id="cSiteDns" />
                <col id="cDatabaseName" />
                <col id="cDatabaseUserName" />
                <col id="cDatabasePassword" />
                <col id="cDatabaseHost" />
                <col id="cDatabaseType" />
                <col id="cLogo" />
                <col id="cFavIcon" />
                <col id="cParametersCsvFile" />
                <col id="cActive" />
                <col id="cTemplate" />
                <col id="cProject" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center z-w02">
                        <input type="checkbox" class="zikulamultisites-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActionsStart" scope="col" class="z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hSiteAlias" scope="col" class="text-left">
                    <a href="{{ sort.siteAlias.url }}" title="{{ __f('Sort by %s', {'%s': 'site alias'}) }}" class="{{ sort.siteAlias.class }}">{{ __('Site alias') }}</a>
                </th>
                <th id="hSiteName" scope="col" class="text-left">
                    <a href="{{ sort.siteName.url }}" title="{{ __f('Sort by %s', {'%s': 'site name'}) }}" class="{{ sort.siteName.class }}">{{ __('Site name') }}</a>
                </th>
                <th id="hSiteDescription" scope="col" class="text-left">
                    <a href="{{ sort.siteDescription.url }}" title="{{ __f('Sort by %s', {'%s': 'site description'}) }}" class="{{ sort.siteDescription.class }}">{{ __('Site description') }}</a>
                </th>
                <th id="hSiteAdminName" scope="col" class="text-left">
                    <a href="{{ sort.siteAdminName.url }}" title="{{ __f('Sort by %s', {'%s': 'site admin name'}) }}" class="{{ sort.siteAdminName.class }}">{{ __('Site admin name') }}</a>
                </th>
                <th id="hSiteAdminPassword" scope="col" class="text-left">
                    <a href="{{ sort.siteAdminPassword.url }}" title="{{ __f('Sort by %s', {'%s': 'site admin password'}) }}" class="{{ sort.siteAdminPassword.class }}">{{ __('Site admin password') }}</a>
                </th>
                <th id="hSiteAdminRealName" scope="col" class="text-left">
                    <a href="{{ sort.siteAdminRealName.url }}" title="{{ __f('Sort by %s', {'%s': 'site admin real name'}) }}" class="{{ sort.siteAdminRealName.class }}">{{ __('Site admin real name') }}</a>
                </th>
                <th id="hSiteAdminEmail" scope="col" class="text-center">
                    <a href="{{ sort.siteAdminEmail.url }}" title="{{ __f('Sort by %s', {'%s': 'site admin email'}) }}" class="{{ sort.siteAdminEmail.class }}">{{ __('Site admin email') }}</a>
                </th>
                <th id="hSiteCompany" scope="col" class="text-left">
                    <a href="{{ sort.siteCompany.url }}" title="{{ __f('Sort by %s', {'%s': 'site company'}) }}" class="{{ sort.siteCompany.class }}">{{ __('Site company') }}</a>
                </th>
                <th id="hSiteDns" scope="col" class="text-left">
                    <a href="{{ sort.siteDns.url }}" title="{{ __f('Sort by %s', {'%s': 'site dns'}) }}" class="{{ sort.siteDns.class }}">{{ __('Site dns') }}</a>
                </th>
                <th id="hDatabaseName" scope="col" class="text-left">
                    <a href="{{ sort.databaseName.url }}" title="{{ __f('Sort by %s', {'%s': 'database name'}) }}" class="{{ sort.databaseName.class }}">{{ __('Database name') }}</a>
                </th>
                <th id="hDatabaseUserName" scope="col" class="text-left">
                    <a href="{{ sort.databaseUserName.url }}" title="{{ __f('Sort by %s', {'%s': 'database user name'}) }}" class="{{ sort.databaseUserName.class }}">{{ __('Database user name') }}</a>
                </th>
                <th id="hDatabasePassword" scope="col" class="text-left">
                    <a href="{{ sort.databasePassword.url }}" title="{{ __f('Sort by %s', {'%s': 'database password'}) }}" class="{{ sort.databasePassword.class }}">{{ __('Database password') }}</a>
                </th>
                <th id="hDatabaseHost" scope="col" class="text-left">
                    <a href="{{ sort.databaseHost.url }}" title="{{ __f('Sort by %s', {'%s': 'database host'}) }}" class="{{ sort.databaseHost.class }}">{{ __('Database host') }}</a>
                </th>
                <th id="hDatabaseType" scope="col" class="text-left">
                    <a href="{{ sort.databaseType.url }}" title="{{ __f('Sort by %s', {'%s': 'database type'}) }}" class="{{ sort.databaseType.class }}">{{ __('Database type') }}</a>
                </th>
                <th id="hLogo" scope="col" class="text-left">
                    <a href="{{ sort.logo.url }}" title="{{ __f('Sort by %s', {'%s': 'logo'}) }}" class="{{ sort.logo.class }}">{{ __('Logo') }}</a>
                </th>
                <th id="hFavIcon" scope="col" class="text-left">
                    <a href="{{ sort.favIcon.url }}" title="{{ __f('Sort by %s', {'%s': 'fav icon'}) }}" class="{{ sort.favIcon.class }}">{{ __('Fav icon') }}</a>
                </th>
                <th id="hParametersCsvFile" scope="col" class="text-left">
                    <a href="{{ sort.parametersCsvFile.url }}" title="{{ __f('Sort by %s', {'%s': 'parameters csv file'}) }}" class="{{ sort.parametersCsvFile.class }}">{{ __('Parameters csv file') }}</a>
                </th>
                <th id="hActive" scope="col" class="text-center">
                    <a href="{{ sort.active.url }}" title="{{ __f('Sort by %s', {'%s': 'active'}) }}" class="{{ sort.active.class }}">{{ __('Active') }}</a>
                </th>
                <th id="hTemplate" scope="col" class="text-left">
                    <a href="{{ sort.template.url }}" title="{{ __f('Sort by %s', {'%s': 'template'}) }}" class="{{ sort.template.class }}">{{ __('Template') }}</a>
                </th>
                <th id="hProject" scope="col" class="text-left">
                    <a href="{{ sort.project.url }}" title="{{ __f('Sort by %s', {'%s': 'project'}) }}" class="{{ sort.project.class }}">{{ __('Project') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for site in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ site.getKey() }}" class="zikulamultisites-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ site.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('ZikulaMultisitesModule:ItemActionsMenu:menu', [], {entity: site, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ site.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    {{ site.name|notifyFilters('zikulamultisitesmodule.filterhook.sites')|safeHtml }}
                </td>
                <td headers="hDescription" class="text-left">
                    {{ site.description }}
                </td>
                <td headers="hSiteAlias" class="text-left">
                    {{ site.siteAlias }}
                </td>
                <td headers="hSiteName" class="text-left">
                    {{ site.siteName }}
                </td>
                <td headers="hSiteDescription" class="text-left">
                    {{ site.siteDescription }}
                </td>
                <td headers="hSiteAdminName" class="text-left">
                    {{ site.siteAdminName }}
                </td>
                <td headers="hSiteAdminPassword" class="text-left">
                </td>
                <td headers="hSiteAdminRealName" class="text-left">
                    {{ site.siteAdminRealName }}
                </td>
                <td headers="hSiteAdminEmail" class="text-center">
                    <a href="mailto:{{ site.siteAdminEmail|protectMail }}" title="{{ __('Send an email') }}"><i class="fa fa-envelope"></i></a>
                </td>
                <td headers="hSiteCompany" class="text-left">
                    {{ site.siteCompany }}
                </td>
                <td headers="hSiteDns" class="text-left">
                    {{ site.siteDns }}
                </td>
                <td headers="hDatabaseName" class="text-left">
                    {{ site.databaseName }}
                </td>
                <td headers="hDatabaseUserName" class="text-left">
                    {{ site.databaseUserName }}
                </td>
                <td headers="hDatabasePassword" class="text-left">
                </td>
                <td headers="hDatabaseHost" class="text-left">
                    {{ site.databaseHost }}
                </td>
                <td headers="hDatabaseType" class="text-left">
                    {{ site.databaseType }}
                </td>
                <td headers="hLogo" class="text-left">
                    {% if site.logo is not empty and site.logoMeta|default %}
                                <a href="{{ site.logoUrl }}" title="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}"{% if site.logoMeta.isImage %} class="image-link"{% endif %}>
                    {% if site.logoMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'siteLogo') %}
                        <img src="{{ site.logo.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ site.logoMeta.size|zikulamultisitesmodule_fileSize(site.logo.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hFavIcon" class="text-left">
                    {% if site.favIcon is not empty and site.favIconMeta|default %}
                                <a href="{{ site.favIconUrl }}" title="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}"{% if site.favIconMeta.isImage %} class="image-link"{% endif %}>
                    {% if site.favIconMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'siteFavIcon') %}
                        <img src="{{ site.favIcon.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ site.favIconMeta.size|zikulamultisitesmodule_fileSize(site.favIcon.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hParametersCsvFile" class="text-left">
                    {% if site.parametersCsvFile is not empty and site.parametersCsvFileMeta|default %}
                                <a href="{{ site.parametersCsvFileUrl }}" title="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}"{% if site.parametersCsvFileMeta.isImage %} class="image-link"{% endif %}>
                    {% if site.parametersCsvFileMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'siteParametersCsvFile') %}
                        <img src="{{ site.parametersCsvFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ site|zikulamultisitesmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ site.parametersCsvFileMeta.size|zikulamultisitesmodule_fileSize(site.parametersCsvFile.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hActive" class="text-center">
                    {% set itemId = site.getKey() %}
                    <a id="toggleActive{{ itemId }}" href="javascript:void(0);" class="zikulamultisites-ajax-toggle hidden" data-object-type="site" data-field-name="active" data-item-id="{{ itemId }}">
                        <i class="fa fa-check{% if not site.active %} hidden{% endif %}" id="yesActive{{ itemId }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if site.active %} hidden{% endif %}" id="noActive{{ itemId }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptActive{{ itemId }}">
                        {% if site.active %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hTemplate" class="text-left">
                    {% if site.template|default %}
                          {{ site.template|zikulamultisitesmodule_formattedTitle }}
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
                <td headers="hProject" class="text-left">
                    {% if site.project|default %}
                          {{ site.project|zikulamultisitesmodule_formattedTitle }}
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}24{% else %}23{% endif %}">
            {{ __('No sites found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulamultisitesmodule_site_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="zikulaMultisitesModuleAction" class="col-sm-3 control-label">{{ __('With selected sites') }}</label>
                <div class="col-sm-6">
                    <select id="zikulaMultisitesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('ZikulaMultisitesModule:Site:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create site') %}
                <a href="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
        {% if own == 1 %}
            {% set linkTitle = __('Show also entries from other users') %}
            {% set routeArgs = all ? {all: 1} : {} %}
            <a href="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-users"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show only own entries') %}
            {% set routeArgs = all ? {all: 1, own: 1} : {own: 1} %}
            <a href="{{ path('zikulamultisitesmodule_site_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-user"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.sites.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
