{# purpose of this template: sites view filter form #}
{% if hasPermission('ZikulaMultisitesModule:Site:', '::', 'ACCESS_EDIT') %}
    {% form_theme quickNavForm with [
        '@ZikulaMultisitesModule/Form/bootstrap_3.html.twig',
        'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
    ] %}
    {{ form_start(quickNavForm, {attr: {id: 'zikulaMultisitesModuleSiteQuickNavForm', class: 'zikulamultisitesmodule-quicknav navbar-form', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <fieldset>
        <h3>{{ __('Quick navigation') }}</h3>
        {% if templateFilter is not defined or templateFilter == true %}
            {{ form_row(quickNavForm.template) }}
        {% endif %}
        {% if projectFilter is not defined or projectFilter == true %}
            {{ form_row(quickNavForm.project) }}
        {% endif %}
        {% if workflowStateFilter is not defined or workflowStateFilter == true %}
            {{ form_row(quickNavForm.workflowState) }}
        {% endif %}
        {% if searchFilter is not defined or searchFilter == true %}
            {{ form_row(quickNavForm.q) }}
        {% endif %}
        {% if sorting is not defined or sorting == true %}
            {{ form_row(quickNavForm.sort) }}
            {{ form_row(quickNavForm.sortdir) }}
        {% else %}
            {{ form_row(quickNavForm.sort, {attr: {class: 'hidden'}}) }}
            {{ form_row(quickNavForm.sortdir, {attr: {class: 'hidden'}}) }}
        {% endif %}
        {% if pageSizeSelector is not defined or pageSizeSelector == true %}
            {{ form_row(quickNavForm.num) }}
        {% endif %}
        {% if activeFilter is not defined or activeFilter == true %}
            {{ form_row(quickNavForm.active) }}
        {% endif %}
        {{ form_widget(quickNavForm.updateview) }}
    </fieldset>
    {{ form_end(quickNavForm) }}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                zikulaMultisitesInitQuickNavigation('site');
                {% if searchFilter|default and searchFilter == false %}
                    {# we can hide the submit button if we have no quick search field #}
                    $('#zikulamultisitesmodule_sitequicknav_updateview').addClass('hidden');
                {% endif %}
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endif %}
