{# purpose of this template: templates list view #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title own ? __('My templates') : __('Templates list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="zikulamultisitesmodule-template zikulamultisitesmodule-view">

    <p class="alert alert-info">{{ __('A site template represents a blueprint for several sites. Each template may be assigned to all or specific projects.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@ZikulaMultisitesModule/Template/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="templatesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {#% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %#}
                <col id="cItemActionsStart" />
                <col id="cName" />
                <col id="cDescription" />
                <col id="cSqlFile" />
                <col id="cProjects" />
                <col id="cSites" />
                <col id="cParameters" />
                <col id="cFolders" />
                <col id="cExcludedTables" />
            </colgroup>
            <thead>
            <tr>
                {#% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center z-w02">
                        <input type="checkbox" class="zikulamultisites-mass-toggle" />
                    </th>
                {% endif %#}
                <th id="hItemActionsStart" scope="col" class="z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hSqlFile" scope="col" class="text-left">
                    <a href="{{ sort.sqlFile.url }}" title="{{ __f('Sort by %s', {'%s': 'sql file'}) }}" class="{{ sort.sqlFile.class }}">{{ __('Sql file') }}</a>
                </th>
                <th id="hProjects" scope="col" class="text-left unsorted">
                    {{ __('Projects') }}
                </th>
                <th id="hSites" scope="col" class="text-left unsorted">
                    {{ __('Sites') }}
                </th>
                <th id="hParameters" scope="col" class="text-left unsorted">
                    {{ __('Parameters') }}
                </th>
                <th id="hFolders" scope="col" class="text-left unsorted">
                    {{ __('Folders') }}
                </th>
                <th id="hExcludedTables" scope="col" class="text-left unsorted">
                    {{ __('Excluded tables') }}
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for template in items %}
            <tr>
                {#% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ template.getKey() }}" class="zikulamultisites-toggle-checkbox" />
                    </td>
                {% endif %#}
                <td id="itemActions{{ template.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('zikulaMultisitesMenuItemActions', [], {entity: template, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ template.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    {{ template.name|notifyFilters('zikulamultisitesmodule.filterhook.templates')|safeHtml }}
                </td>
                <td headers="hDescription" class="text-left">
                    {{ template.description }}
                </td>
                <td headers="hSqlFile" class="text-left">
                    {% if template.sqlFileMeta|default %}
                    <a href="{{ template.sqlFileUrl }}" title="{{ template|zikulamultisitesmodule_formattedTitle|e('html_attr') }}"{% if template.sqlFileMeta.isImage %} class="image-link"{% endif %}>
                    {% if template.sqlFileMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'templateSqlFile') %}
                        <img src="{{ template.sqlFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ template|zikulamultisitesmodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ template.sqlFileMeta.size|zikulamultisitesmodule_fileSize(template.sqlFile.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hProjects" class="text-left">
                    {% if template.projects|length > 0 %}
                        <ul>
                        {% for project in template.projects %}
                            <li>{{ project|zikulamultisitesmodule_formattedTitle }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ __('None') }}
                    {% endif %}
                </td>
                <td headers="hSites" class="text-left">
                    <a href="{{ path('zikulamultisitesmodule_site_view', {template: template.getKey()}) }}" title="{{ __('View sites assigned to this template') }}">{{ __('Site list') }}</a>
                </td>
                <td headers="hParameters" class="text-left">
                    {% if template.parameters is iterable and template.parameters|length > 0 %}
                        {{ template.parameters|length }}
                        {*<ul>
                        {% for parameter in template.parameters %}
                            <li>{{ parameter }}</li>
                        {% endfor %}
                        </ul>#}
                    {% else %}
                        {{ __('None') }}
                    {% endif %}
                </td>
                <td headers="hFolders" class="text-left">
                    {% if template.folders is iterable and template.folders|length > 0 %}
                        <ul>
                        {% for folder in template.folders %}
                            <li>{{ folder }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ __('None') }}
                    {% endif %}
                </td>
                <td headers="hExcludedTables" class="text-left">
                    {% if template.excludedTables is iterable and template.excludedTables|length > 0 %}
                        <ul>
                        {% for tableName in template.excludedTables %}
                            <li>{{ tableName }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ __('None') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}9{% else %}9{% endif %}">
            {{ __('No templates found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikulamultisitesmodule_template_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
{#            <fieldset>
                <label for="zikulaMultisitesModuleAction" class="col-sm-3 control-label">{{ __('With selected templates') }}</label>
                <div class="col-sm-6">
                    <select id="zikulaMultisitesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>#}
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if permissionHelper.hasComponentPermission('template', constant('ACCESS_EDIT')) %}
                {% set createTitle = __('Create template') %}
                <a href="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
        {% if own == 1 %}
            {% set linkTitle = __('Show also entries from other users') %}
            {% set routeArgs = all ? {all: 1} : {} %}
            <a href="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-users"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show only own entries') %}
            {% set routeArgs = all ? {all: 1, own: 1} : {own: 1} %}
            <a href="{{ path('zikulamultisitesmodule_template_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-user"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.templates.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
