{# purpose of this template: inclusion template for managing related projects #}
{% displayMode is not defined or displayMode is empty %}
    {% set displayMode = 'choices' %}
{% endif %}
{% if allowEditing is not defined or allowEditing is empty %}
    {% set allowEditing = false %}
{% endif %}
{% if panel|default(false) == true %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseProjects">{{ __('Projects') }}</a></h3>
        </div>
        <div id="collapseProjects" class="panel-collapse collapse in">
            <div class="panel-body">
{% else %}
    <fieldset class="projects">
{% endif %}
    <legend>{{ __('Projects') }}</legend>
    {% if displayMode == 'choices' %}
        {{ form_row(form.projects) }}
    {% elseif displayMode == 'autocomplete' %}
        {% set createUrl = allowEditing ? path('zikulamultisitesmodule_project_' ~ routeArea ~ 'edit') : '' %}
        {{ form_row(form.projects) }}
        <div class="zikulamultisitesmodule-relation-leftside">
            {% if attribute(linkingItem, alias) is defined %}
                {{ include(
                    'Project/includeSelectItemListMany.html.twig',
                    { items: attribute(linkingItem, alias) }
                ) }}
            {% else %}
                {{ include('Project/includeSelectItemListMany.html.twig') }}
            {% endif %}
        </div>
        <br style="clear: both" />
    {% endif %}
{% if panel|default(false) == true %}
            </div>
        </div>
    </div>
{% else %}
    </fieldset>
{% endif %}
