{# purpose of this template: site extensions list view #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title __('Site extension list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="zikulamultisitesmodule-siteextension zikulamultisitesmodule-view">

    <p class="alert alert-info">{{ __('A site consists of several extensions, which may be modules, themes or plugins.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@ZikulaMultisitesModule/SiteExtension/viewQuickNav.html.twig', { all: showAllEntries, own: showOwnEntries, workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('zikulamultisitesmodule_siteextension_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="siteExtensionsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cName" />
                <col id="cExtensionVersion" />
                <col id="cExtensionType" />
                <col id="cSite" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" id="toggleSiteExtensions" />
                    </th>
                {% endif %}
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hExtensionVersion" scope="col" class="text-left">
                    <a href="{{ sort.extensionVersion.url }}" title="{{ __f('Sort by %s', {'%s': 'extension version'}) }}" class="{{ sort.extensionVersion.class }}">{{ __('Extension version') }}</a>
                </th>
                <th id="hExtensionType" scope="col" class="text-left">
                    <a href="{{ sort.extensionType.url }}" title="{{ __f('Sort by %s', {'%s': 'extension type'}) }}" class="{{ sort.extensionType.class }}">{{ __('Extension type') }}</a>
                </th>
                <th id="hSite" scope="col" class="text-left">
                    <a href="{{ sort.site.url }}" title="{{ __f('Sort by %s', {'%s': 'site'}) }}" class="{{ sort.site.class }}">{{ __('Site') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% for siteExtension in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ siteExtension.id }}" class="siteextensions-checkbox" />
                    </td>
                {% endif %}
                <td headers="hName" class="text-left">
                    {{ siteExtension.name|notifyFilters('zikulamultisitesmodule.filterhook.siteextensions') }}
                </td>
                <td headers="hExtensionVersion" class="text-left">
                    {{ siteExtension.extensionVersion }}
                </td>
                <td headers="hExtensionType" class="text-left">
                    {{ siteExtension.extensionType|zikulamultisitesmodule_listEntry('siteExtension', 'extensionType') }}
                </td>
                <td headers="hSite" class="text-left">
                    {% if siteExtension.Site|default %}
                          {{ siteExtension.Site.getTitleFromDisplayPattern() }}
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
                <td id="itemActions{{ siteExtension.id }}" headers="hItemActions" class="actions nowrap z-w02">
                    {% if siteExtension._actions|length > 0 %}
                        <div class="dropdown">
                            <a id="itemActions{{ siteExtension.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="itemActions{{ siteExtension.id }}DropDownToggle">
                                {% for option in siteExtension._actions %}
                                    <li role="presentation"><a href="{{ option.url.type|zikulamultisitesmodule_actionUrl(option.url.func, option.url.arguments) }}" title="{{ option.linkTitle|e('html_attr') }}" role="menuitem" tabindex="-1" class="fa fa-{{ option.icon }}">{{ option.linkText }}</a></li>
                                    
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}6{% else %}5{% endif %}">
            {{ __('No site extensions found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 %}
            {{ pager({ rowcount: pager.numitems, limit: pager.itemsperpage, display: 'page', route: 'zikulamultisitesmodule_siteextension_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="zikulaMultisitesModuleAction" class="col-sm-3 control-label">{{ __('With selected site extensions') }}</label>
                <div class="col-sm-6">
                    <select id="zikulaMultisitesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    {% set own = showOwnEntries is defined and showOwnEntries == 1 ? 1 : 0 %}
    {% set all = showAllEntries is defined and showAllEntries == 1 ? 1 : 0 %}
    {% if all == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('zikulamultisitesmodule_siteextension_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('zikulamultisitesmodule_siteextension_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='zikulamultisitesmodule.ui_hooks.siteextensions.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
{% block footer %}
    {{ parent() }}

<script type="text/javascript">
/* <![CDATA[ */
    ( function($) {
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
            $('a.fa-zoom-in').attr('target', '_blank');
            {% if routeArea == 'admin' %}
                {# init the "toggle all" functionality #}
                if ($('#toggleSiteExtensions').length > 0) {
                    $('#toggleSiteExtensions').on('click', function (e) {
                        Zikula.toggleInput('siteExtensionsViewForm');
                        e.preventDefault();
                    });
                }
            {% endif %}
        });
    })(jQuery);
/* ]]> */
</script>
{% endblock %}
